<h3>Autor <%= author.displayName %></h3>
<p>Ubicacion <%= author.location %></p>
<p>Cargo <%= author.position %></p>
<p>Twitter <%= author.twitter %></p>
<p>Avatar <img src='<%= author.avatar %>' class='avatar'/></p>