    <table style="width:100%;">
    <% for (var i=0; i< quizes.length; i++) { %>
    	<tr>
    	    <td>
    	        <a href="/quizes/<%= quizes[i].id %>">
                    <%= quizes[i].pregunta %>
                </a>
            </td>
            <td>
                <a href="/quizes/<%= quizes[i].id %>/edit">
                    <button type="button">Editar</button>
                </a>
            </td>
            <td>
                <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
                    <button type="submit" onclick="return confirm('Borrar <%= quizes[i].pregunta%>');">Borrar</button>
                </form>
            </td>
        <tr/>
    <%  }   %>
    </table>
    <br>
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
    <br>
    <br>
    <hr>
    <h3> Filtre las preguntas </h3>
    <form method='GET' action='/quizes'>
        Texto : <input type="text" name="search"/>
        <input type="submit"/>
    </form>