<div>
	<h4>Total de quizes: </h4><%=totalQuizes%><p/>
	<h4>Total de comentarios: </h4><%=totalComments%><p/>
	<h4>Promedio de comentarios por pregunta: </h4><%=commentsPerQuestion%><p/>
	<h4>Total de quizes sin comentarios: </h4><%=totalQuizesWithoutComments%><p/>
	<h4>Total de quizes con conmentarios: </h4><%=totalQuizesWithComments%><p/>
</div>